* {
  box-sizing:border-box;
  margin: 0;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(144, 120, 163) 0%,
    rgb(50, 75, 184) 100%
  );
}
.todo-app {
  border-radius: 350px 350px 350px 350px;
  display: flex;
  flex-direction:column;
  justify-content: start;
  width: 700px;
  min-height: 700px;
  background: linear-gradient(
    90deg,
    rgb(27, 14, 49) 0%,
    rgb(36, 29, 97) 100%
  );
  text-align: center;
  margin: 128px auto;
  
  padding-bottom: 60px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 34px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 30px 30px 30px 30px;
  border: 2px solid #7f63b8;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  flex-direction:column
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(199, 196, 204) 0%,
    rgb(102, 78, 117) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #a267b4;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgb(199, 196, 204) 0%,
    rgb(102, 78, 117) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(175, 161, 164) 0%,
    rgb(165, 73, 118) 100%
  );

  padding: 14px;
  border-radius: 30px 30px 30px 30px;
  width: 60%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(162, 162, 170) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(155, 127, 153) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgb(142, 136, 156) 0%,
    rgb(147, 79, 173) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
