* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat_Light";
}

.profile,
.calendar,
.features,
.settings,
.taskList,
.notes,
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 4rem;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  text-shadow: 4px 4px 4px #fff;
}
.profile {
  background-image: url(./images/home.jpg);
}

.border_list {
  width: 320px;
  padding: 10px;
  border: 1px solid rgb(247, 240, 240);
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px 20px 20px;
  width: 350px;
  margin: 20px;
  margin-left: 90px;
}

.title_border{
  font-family: "Montserrat_Light";
  font-size: 1.4rem;
  margin: 20px;
  margin-left: 90px;
  font-weight: bold;
}

.border_item {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Montserrat_Light";
}

.item_description {
  font-family: "Montserrat_Light";
}

.search_button {
  margin-left: 90px;
  width: 600px;
}

.m-5-auto {
  margin: 5rem auto
}

input {
  width: 15rem;
  padding: .3rem;
  border-radius: 5px;
  outline: none;
  border: none
}

#sub_btn {
  display: block;
  width: 100%;
  padding: .3rem;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 3px;
}

#sub_btn:hover {
  background: #333;
  transition: all .5s
}

footer p {
  margin: 0;
  font-size: .9rem
}

h2 {
  font-weight: 300
}

form label {
  float: left;
  font-size: .9rem;
  margin: 0;
  padding: 0
}

.input_detail {
  background-color: rgb(204, 201, 201);
}

.Statistics_header {
  padding: 60px;
  text-align:center;
  color: rgb(7, 1, 1);
  width: 10px;
  font-size: 30px;
}

.Statistics_box {
  width: 300px;
  background-color: rgb(158, 164, 231);
  border: 15px solid rgb(181, 147, 219);
  border-radius: 30px 30px 30px 30px;
  justify-content:center;
  padding: 50px;
  margin: 20px;
}

.Statistics_box_right{
  width: 300px;
  background-color: rgb(158, 164, 231);
  border: 15px solid rgb(181, 147, 219);
  border-radius: 30px 30px 30px 30px;
  display: inline-block;
  vertical-align: text-top;
  margin: 0 auto;
  /* justify-content:right; */
}