.Notes {
  display: flex;
}

/* SIDEBAR STYLES */

.notes-sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.notes-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background: linear-gradient(
    90deg,
    rgb(46, 150, 219) 0%,
    rgb(221, 228, 255) 100%
);}


.notes-sidebar-header h1 {
  margin: 0;
}

.notes-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.notes-sidebar-note {
    margin-top: 30px;
  padding: 25px;
  cursor: pointer;
}
.notes-note-title {
  display: flex;
  justify-content: space-between;
}
.notes-sidebar-note button {
  color: rgb(143, 16, 41);
  
}
.notes-sidebar-note p {
  margin: 10px 0;
}
.notes-sidebar-note small {
  display: block;
  color: rgb(83, 78, 78);
}

.notes-sidebar-note:hover {
    background: #ddd;
    border-radius: 20px 20px 20px 20px;
}
.notes-sidebar-note.active,
.notes-sidebar-note.active small {
    background: linear-gradient(
        90deg,
        rgb(142, 65, 187) 0%,
        rgb(93, 119, 235) 100%
    );
    color: rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
}
/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.notes-main {
  width: 70%;
  height: 100vh;
}
.notes-main-note-edit,
.notes-main-note-preview {
  height: 50vh;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: rgb(83, 78, 78);
}

/* Editing */
.notes-main-note-edit {
  padding: 25px;
}

.notes-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
  border-radius: 20px 20px 20px 20px;
}
.notes-main-note-edit input {
  height: 50px;
  font-size: 2rem;
}

/* Preview */
.notes-main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}
